body{
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    color:#060404;
    
}

#box {
    color: rgb(232, 135, 71);
    text-align: center;
    text-decoration: peru;
    background-image: url(Box-Background.jpg);
    height: 300px;
    width: 500px;
   
    margin-top: 50px;
    padding: 40px;
    border-color: darkmagenta;
}